/*
Copyright 2022 DINUM
*/

.mx_DecoratedRoomAvatar .mx_DecoratedRoomAvatar_positionedParent {
    position: relative;
    display: inline-block;
}

.mx_DecoratedRoomAvatar .mx_DecoratedRoomAvatar_icon.mx_DecoratedRoomAvatar_icon_forum::before{
    background-color: var(--forum-color);
    bottom: -13%;
    right: -30%;
    width: 140%;
    height: 140%;
}

.mx_DecoratedRoomAvatar .mx_DecoratedRoomAvatar_icon.mx_DecoratedRoomAvatar_icon_private::before,
.mx_ExtraTile .mx_DecoratedRoomAvatar_icon_private::before {
    background-color: var(--private-color);
    bottom: -13%;
    right: -30%;
    width: 140%;
    height: 140%;
}

.mx_DecoratedRoomAvatar .mx_DecoratedRoomAvatar_icon.mx_DecoratedRoomAvatar_icon_external::before,
.mx_ExtraTile .mx_DecoratedRoomAvatar_icon_external::before {
    background-color: var(--external-color);
    bottom: -13%;
    right: -30%;
    width: 140%;
    height: 140%;
}

/* we have crop decorated icons lock if we don't add this */
.mx_DecoratedRoomAvatar,
.mx_ExtraTile {
    .mx_DecoratedRoomAvatar_icon::before {
        border-radius: 0px;
    }
}