/* variables that are used by the components style
should be loaded before res/themes/light-custom/css/_custom.pcss */
:root {
    --private-color: #eb5757;
    --external-color: #f07a12;
    --forum-color: #27ae60;
    --sidebar-button-color: #9999fc;
}
