/*
override components style
better that it be loaded after matrix-react-sdk/res/css/_components.pcss
*/
/*
example of how to override a style
.mx_NewRoomIntro > h2 {
    margin-top: 24px;
    font-size: 2.4rem;
    font-weight: 600;
    color: red; //<- new attribute
}
*/
