@import "@gouvfr-lasuite/integration/dist/css/homepage-full.css";
/* activate _custom.pcss after settings _tchap_custom_vars */
@import "_tchap_custom_vars.pcss";
@import "../../../../res/css/_font-sizes.pcss";
@import "../../tchap-common/css/_paths.pcss";
@import "../../../../res/themes/light/css/_fonts.pcss";
@import "../../../../res/themes/light/css/_light.pcss"; /* base _light css */
@import "../../../../res/themes/dark/css/_dark.pcss"; /* base _dark css */
/* @import "../../../../res/themes/light-custom/css/_custom.pcss"; */ /* match css --vars to pcss $vars */
@import "../../../../res/themes/light/css/_mods.pcss";
@import "../../../../res/css/_components.pcss";
@import "../../tchap-common/css/_tchap_custom.pcss"; /* import override from the common folder */
@import "_tchap_custom.pcss";
/* @import "../../tchap-common/css/_fonts.pcss"; tchap custom fonts */
@import url("highlight.js/styles/atom-one-light.css");
@import url("github-markdown-css/github-markdown-dark.css");