@import "../../../../node_modules/matrix-react-sdk/res/css/_font-sizes.pcss";
@import "../../tchap-common/css/_paths.pcss";
@import "../../tchap-common/css/_fonts.pcss";
@import "../../tchap-light/css/_light.pcss";
@import "_dark.pcss"; // dark theme override light value
@import "../../tchap-common/css/_mods.pcss";
@import "../../../../node_modules/matrix-react-sdk/res/css/_components.pcss";
@import url("highlight.js/styles/atom-one-light.css");