/* variables that are used by the components style
should be loaded before res/themes/light-custom/css/_custom.pcss */
:root {
    --external-color: #f07a12;
    --badge-external-color: #ffe0c5;
    --eventbubble-self-bg: var(--cpd-color-bg-subtle-primary);
    --timeline-background-color: #ffffff; /* Modale background glass color */
    --sidebar-color-50pct: #030c1b4d; /*for modal backdrop */
}
