.mx_LegacyCallEvent_wrapper {
  .mx_LegacyCallEvent {
    &.mx_LegacyCallEvent_voice {
      .mx_LegacyCallEvent_content_button_reportBug span::before {
        mask-image: url("~matrix-react-sdk/res/img/feather-customised/bug.svg");
     }
    }
  }
}