.tc_search_warning {
    background-color: var(--badge-external-color);
    padding: var(--cpd-space-3x);
    border-radius: 8px;
    margin-left: 9px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    gap: var(--cpd-space-2x);
    color: var(--badge-external-text-color);

    svg {
        color: var(--external-color);
    }

    a {
        color: var(--badge-external-text-color);
        font-weight: bold;
    }
}
