/*
Copyright 2021 DINUM
*/

.mx_exportE2eKeysSuccessDialog {
    .tc_exportE2eKeysSuccessDialog_img {
        display: flex;
        justify-content: center;
        margin-bottom: 26px;
        margin-top: 34px;
    }

    .modalParagraph {
        line-height: 22px;
    }

    .findOutMoreLink {
        color: #2e2f32;
        text-decoration: underline;
    }
}
