/*
Copyright 2021 DINUM
*/

.tc_TwoColumn_block {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: -40px;
}

.tc_TwoColumn_block_content {
    width: 42%;
    background-color: #f2f1f8;
    border-radius: 20px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tc_TwoColumn_block_content button {
    max-width: 194px;
}

.modalParagraph {
    line-height: 22px;
}
