/*
Copyright 2022 DINUM
*/

.mx_ServerPickerDialog {

    .mx_ServerPickerDialog_radioGroup {
        margin-bottom: 24px;
    }

    .mx_ServerPickerDialog_optionLabel {
        margin-bottom: 10px;
    }

    .mx_ServerPickerDialog_optionDescription {
        font-size: 1.4rem;
    }

    .mx_StyledRadioButton {
        margin-top: 24px;
    }
}
