/*
Copyright 2022 DINUM
*/

.tc_exportE2eKeysSuccessDialog {
    .tc_exportE2eKeysSuccessDialog_img {
        display: flex;
        justify-content: center;
        margin-bottom: 26px;
        margin-top: 34px;
    }

    .tc_modalParagraph {
        line-height: 22px;
    }
}
