/*
Copyright 2022 DINUM
*/

.tc_exportE2eKeysDialog {
    .tc_modalParagraph {
        line-height: 22px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .tc_withMarginTop {
        margin-top: 22px;
    }

    .tc_withMarginBottom {
        margin-bottom: 8px;
    }
}
