/*
Copyright 2021 DINUM
*/

.mx_exportE2eKeysDialog {
    .paragraphWithMargin {
        margin-top: 26px;
    }

    .passwordInputRow {
        margin-bottom: 10px;
    }

    .input {
        border: 1px solid #9FA9BA;
        color: #9FA9BA;
        font-weight: 400;
    }
}
