/*
Copyright 2021 DINUM
*/

.mx_exportE2eKeysDialog {
    .modalParagraph {
        line-height: 22px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .withMarginTop {
        margin-top: 22px;
    }

    .withMarginBottom {
        margin-bottom: 8px;
    }

    .passwordInputRow {
        margin-bottom: 10px;
    }

    .inputWidth {
        width: 398px;
    }
}
