.mx_SpotlightDialog .mx_SpotlightDialog_results,
.mx_SpotlightDialog .mx_SpotlightDialog_searchBox > .mx_SpotlightDialog_filter {
    color: var(--cpd-color-text-primary) !important;   
}

._badge_10dml_8 {
    min-block-size: 16px;
}

._roomListItem_rtaba_8 {
    color: var(--cpd-color-text-primary);
}