.tchap-gaufre-fill {
    fill: var(--cpd-color-bg-action-primary-rest);
    color: var(--cpd-color-bg-action-primary-rest);
}

#tchap-gaufre {
    overflow: scroll;
    height: 300px;
}

.tc_sidebar_quick_faq {
    
    &::before {
        mask-image: url("@vector-im/compound-design-tokens/icons/help-solid.svg") !important;
    }
}
