.lasuite-gaufre-tchap {
    --gaufre-color: #9999fc;

    border: solid 1px var(--gaufre-color);
    color: var(--gaufre-color); 

    &::before {
        background: var(--gaufre-color);
    }
}

#tchap-gaufre {
    overflow: scroll;
    height: 300px;
}