.lasuite-gaufre-tchap {
    border: solid 1px var(--sidebar-button-color);
    color: var(--sidebar-button-color); 

    &::before {
        background: var(--sidebar-button-color);
    }
}

#tchap-gaufre {
    overflow: scroll;
    height: 300px;
}

.tc_sidebar_quick_faq {
    color: var(--sidebar-button-color); 
    &::before {
        background: var(--sidebar-button-color);
    }
}