.tc_badge {

    span {
        font-size: smaller;
        margin-right: 7px;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 700;
        padding: 2px var(--cpd-space-1x) !important;

        &.description {
            display: none;
        }

        /* Show text only on larger screens */
        @media (min-width: 750px) {
            &.description {
                display: inline;
            }
        }
    }

    .external {
        background-color: var(--badge-external-color);
        border: 0px !important;
    }


}
