/**
* Copyright DINUM 2023
*/

.tc_MemberList_export {
  margin-top: var(--cpd-space-2x);
  font-size: small !important;
}

.tc_MemberList_export svg {
  color: var(--cpd-color-text-primary);
  fill: var(--cpd-color-text-primary);
  margin-right: var(--cpd-space-2x);
}
