@import "@gouvfr-lasuite/integration/dist/css/homepage-full.css";
@import "_tchap_custom_vars.pcss";
@import "../../../../res/css/_font-sizes.pcss"; /* font sizes from matrix-react-sdk */
@import "../../tchap-common/css/_paths.pcss"; /* tchap custom path to load ressources inside matrix css */
@import "../../../../res/themes/light/css/_fonts.pcss"; /* tchap custom fonts */
@import "../../../../res/themes/light/css/_light.pcss"; /* base _light css */
@import "../../../../res/themes/light-custom/css/_custom.pcss"; /* match css --vars to pcss $vars */
@import "../../../../res/themes/light/css/_mods.pcss";
@import "../../../../res/css/_components.pcss"; /* css of all components */
@import "../../../../res/css/_compound.pcss";
@import "../../tchap-common/css/_tchap_custom.pcss"; /* import override from the common folder */
/* @import "../../tchap-common/css/_fonts.pcss"; tchap custom fonts */
@import "_tchap_custom.pcss";
@import url("highlight.js/styles/atom-one-light.css"); /* taken from matrix theme, don't know what it is */
@import url("github-markdown-css/github-markdown-light.css");
