/* [TEMPORARY] hide "Sign in instead" button on password forgotten page because the redirection is currently broken */
.mx_AuthBody.mx_AuthBody_forgot-password .mx_AccessibleButton {
    display: none;
}