/* override components style */
/* those overrides are imported in all themes of tchap */
/* [TEMPORARY] hide "Sign in instead" button on password forgotten page because the redirection is currently broken */
.mx_AuthBody.mx_AuthBody_forgot-password .mx_AccessibleButton {
    display: none;
}
/* hide the passphrase option in the setup options of the secure storage */
#mx_Dialog_StaticContainer > div > div.mx_Dialog > div.mx_CreateSecretStorageDialog > div:nth-child(2) > form > div.mx_CreateSecretStorageDialog_primaryContainer > label:nth-child(2) {
    display: none;
}