/**
* Copyright DINUM 2023
*/

.mx_MemberList_export {
  &::before {
    content: "";
    display: inline-block;
    background-color: var(--accent);
    mask-image: url("~matrix-react-sdk/res/img/download.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
