.tc_TchapCreateRoomDialog {

    .tc_modal_cancel {
        background-color: var(--cpd-color-bg-action-secondary-rest) !important;
        color: var(--cpd-color-text-secondary) !important;
    }

}
