.tc_live_warning_section {
    // same padding as rich list in shared component to match the other section
    padding: var(--cpd-space-2x) var(--cpd-space-4x) var(--cpd-space-2x) var(--cpd-space-4x);
    color: var(--external-color);
}