/*
 * :TCHAP: tooltips in bubble layout are not visible enough : the bubble backgroud is not white.
 * Contribute this back to Element-web.
 */
.mx_EventTile[data-layout="bubble"] {
  .mx_TooltipButton {
      color: var(--timeline-text-color);
      border-color: var(--timeline-text-color);
  }
}
/* end :TCHAP: */
