.tc_TchapRoomTypeSelector_RadioButtons {
    display: flex;
    flex-direction: column;
    gap: 24px;

    >.tc_TchapRoomTypeSelector_RadioButton {
        flex-grow: 0;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;

        border-width: 1px;
        border-style: solid;
        border-radius: 10px;

        .tc_TchapRoomTypeSelector_RadioButton_title {
            font-weight: bold;
        }
    }

    /* todo reuse theme colors */
    .tc_TchapRoomTypeSelector_private {
        border-color: red;
        .tc_TchapRoomTypeSelector_RadioButton_title {
            color: red;
        }
    }

    .tc_TchapRoomTypeSelector_external {
        border-color: orange;
        .tc_TchapRoomTypeSelector_RadioButton_title {
            color: orange;
        }
    }

    .tc_TchapRoomTypeSelector_forum {
        border-color: green;
        .tc_TchapRoomTypeSelector_RadioButton_title {
            color: green;
        }
    }

    .tc_TchapRoomTypeSelector_RadioButton_selected {
        border-width: 3px;
    }
}