.tc_pronnect {
    .tc_ButtonParent {
        display: flex;
        padding: 14px 20px;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 4px;
        background-origin: content-box;
        background-repeat: no-repeat;
        background-position: 30px center;
        text-decoration: none;
        color: #2e2f32 !important;
    }
    
    .tc_ButtonProconnect {
        background-color: var(--cpd-color-bg-action-primary-rest);
        color: white !important;
        text-align: left;
        font-weight: bold;
    }
    
    .tc_Button_iconPC {
        background-image: url("../../../welcome/images/proconnect.svg");   
    }

    .tc_bottomButton {
        display: flex;
        justify-content: center;
    }

    .tc_login {
        .tc_ButtonParent {
            width: 100%;
        }

        .tc_ButtonProconnect {
            margin-bottom: 40px;
        }
    }
}