/* variables that are used by the components style
should be loaded before res/themes/light-custom/css/_custom.pcss */

body {
    --confirmation-color: #0dbd8b;
    --private-color: #27ae60;
    --external-color: #f07a12;
    --badge-external-color: #ffe0c5;
    --badge-external-text-color: #5b3620;
    --forum-color: #27ae60;
    --sidebar-color-50pct: #030c1b4d; /* for modal backdrop*/
    --timeline-background-color: #ffffff; /* For modal background*/
    --eventbubble-self-bg: #DDE5FF;
    --eventbubble-others-bg: #f4f4f4;
}
