/* variables that are used by the components style
should be loaded before res/themes/light-custom/css/_custom.pcss */

body {
    --accent: #000091;
    --primary-color: #334ccc;
    --warning-color: #e1000f;
    --confirmation-color: #0dbd8b;
    --private-color: #27ae60;
    --external-color: #f07a12;
    --forum-color: #27ae60;
    --sidebar-color-50pct: #030c1b4d; /* for modal backdrop*/
    --roomlist-highlights-color: var(--cpd-color-bg-action-secondary-pressed);
    --roomlist-separator-color: var(--cpd-color-gray-300);
    --roomlist-text-secondary-color: #61708B;
    --timeline-background-color: #ffffff;
    --timeline-text-color: #2e2f32;
    --timeline-text-color-50pct: #2e2f3280;
    --timeline-text-secondary-color: #61708b;
    --timeline-highlights-color: #f3f8fd;
    --togglesw-off-color: #c1c9d6;
    --eventbubble-self-bg: #DDE5FF;
    --eventbubble-others-bg: #f4f4f4;
    --username-colors_0: #000091;
    --username-colors_1: #5656de;
    --username-colors_2: #19a84a;
    --username-colors_3: #ee751d;
    --username-colors_4: #bf2b72;
    --username-colors_5: #975f53;
    --username-colors_6: #3f81e3;
    --username-colors_7: #000091;

    /* if using  getComputedStyle(document.body).getPropertyValue it's better to leave no space */
    /* stylelint-disable-next-line declaration-colon-space-after */
    --avatar-background-colors_0: #7989a8;
    /* stylelint-disable-next-line declaration-colon-space-after */
    --avatar-background-colors_1: #7989a8;
    /* stylelint-disable-next-line declaration-colon-space-after */
    --avatar-background-colors_2: #7989a8;

    --main-title-color: #2845C1;

    --cpd-color-icon-tertiary: #3E5DE7;
}
