@import "_tchap_custom_vars.pcss";
@import "../../../../node_modules/matrix-react-sdk/res/css/_font-sizes.pcss"; /* font sizes from matrix-react-sdk */
@import "../../tchap-common/css/_paths.pcss"; /* tchap custom path to load ressources inside matrix css */
@import "../../../../node_modules/matrix-react-sdk/res/themes/light/css/_fonts.pcss"; /* tchap custom fonts */
@import "../../../../node_modules/matrix-react-sdk/res/themes/light/css/_light.pcss"; /* base _light css */
@import "../../../../node_modules/matrix-react-sdk/res/themes/light-custom/css/_custom.pcss"; /* match css --vars to pcss $vars */
@import "../../../../node_modules/matrix-react-sdk/res/themes/light/css/_mods.pcss";
@import "../../../../node_modules/matrix-react-sdk/res/css/_components.pcss"; /* css of all components */
@import url("highlight.js/styles/atom-one-light.css");/* taken from matrix theme, don't know what it is */
@import "../../tchap-common/css/_tchap_custom.pcss"; /* import override from the common folder */
@import "_tchap_custom.pcss";
